@font-face {
		font-family: UEFASupercup;
		src: url(/fonts/UEFASupercup-Bold.ttf) format('truetype');
		font-weight: 500;
		font-display: swap;
}

@font-face {
		font-family: UEFASupercup;
		src: url(/fonts/UEFASupercup-Regular.ttf) format('truetype');
		font-weight: 400;
		font-display: swap;
}

@font-face {
		font-family: UEFASupercup;
		src: url(/fonts/UEFASupercup-Light.ttf) format('truetype');
		font-weight: 300;
		font-display: swap;
}

@font-face {
		font-family: UEFAEuro;
		src: url(/fonts/uefaeuro-bold.woff2) format('woff2');
		src: url(/fonts/uefaeuro-bold.ttf) format('truetype');
		font-weight: 500;
		font-display: swap;
}

@font-face {
		font-family: UEFAEuro;
		src: url(/fonts/uefaeuro-medium.woff2) format('woff2');
		src: url(/fonts/uefaeuro-medium.ttf) format('truetype');
		font-weight: 400;
		font-display: swap;
}

@font-face {
		font-family: UEFAEuro;
		src: url(/fonts/uefaeuro-book.woff2) format('woff2');
		src: url(/fonts/uefaeuro-book.ttf) format('truetype');
		font-weight: 300;
		font-display: swap;
}

$primaryColor: #A1B2F8;
$primaryContrast: #000d40;

html {
		font-family:	UEFAEuro, Helvetica Neue, Helvetica, Arial, sans-serif;
		-webkit-overflow-scrolling: touch;

		::-webkit-scrollbar {
				width: 5px;
				height: 0;
		}

		::-webkit-scrollbar-track {
				background: #f1f1f1;
		}

		::-webkit-scrollbar-thumb {
				background: $primaryColor;
				border-radius: 50px;
		}

		::-webkit-scrollbar-thumb:hover {
				background: theme;
		}
}

body {
		padding: 0;
		margin: 0;		background-color: #f2f0f4;

		input:focus{
				outline: none;
		}
}

p {
		margin:0;
		padding:0;
}

.is-hidden {
		display: none !important;
}

// Temporary fix for non-mobile-friendly tour widget of antd: https://github.com/ant-design/ant-design/issues/40419
.ant-tour {
	max-width: 85%;

	.ant-tour-buttons .ant-btn {
		border-radius: 0px !important;
		line-height: normal;
		padding: 0 0.75rem;

		&.ant-btn-primary {
			color: #FFF;
			background-color: $primaryContrast;
			
			&:not(:disabled):not(.ant-btn-disabled):hover, &:hover {
				background-color: $primaryColor;
				color: $primaryContrast;
			}
		}

		&.ant-btn-default {
			color: $primaryContrast;
			
			&:not(:disabled):not(.ant-btn-disabled):hover, &:hover {
				background-color: $primaryContrast;
				color: $primaryColor;
			}
		}
	}
}

#crisp-chatbox a[rel="noopener noreferrer nofollow"] {
	display: none !important;
	opacity: 0;
	visibility: hidden;
}

#crisp-chatbox a[role="button"][data-visible="false"], a[role="button"][data-maximized="false"] {
	display: none !important;
}