@font-face {
		font-family: UEFASupercup;
		src: url(/fonts/UEFASupercup-Bold.ttf) format('truetype');
		font-weight: 500;
		font-display: swap;
}

@font-face {
		font-family: UEFASupercup;
		src: url(/fonts/UEFASupercup-Regular.ttf) format('truetype');
		font-weight: 400;
		font-display: swap;
}

@font-face {
		font-family: UEFASupercup;
		src: url(/fonts/UEFASupercup-Light.ttf) format('truetype');
		font-weight: 300;
		font-display: swap;
}

@font-face {
		font-family: UEFAEuro;
		src: url(/fonts/uefaeuro-bold.woff2) format('woff2');
		src: url(/fonts/uefaeuro-bold.ttf) format('truetype');
		font-weight: 500;
		font-display: swap;
}

@font-face {
		font-family: UEFAEuro;
		src: url(/fonts/uefaeuro-medium.woff2) format('woff2');
		src: url(/fonts/uefaeuro-medium.ttf) format('truetype');
		font-weight: 400;
		font-display: swap;
}

@font-face {
		font-family: UEFAEuro;
		src: url(/fonts/uefaeuro-book.woff2) format('woff2');
		src: url(/fonts/uefaeuro-book.ttf) format('truetype');
		font-weight: 300;
		font-display: swap;
}

$primaryColor: #0d1e62;
$primaryContrast: #143cdb;

html {
	font-family:	UEFAEuro, Helvetica Neue, Helvetica, Arial, sans-serif;
	-webkit-overflow-scrolling: touch;
	overflow-x: hidden;

	::-webkit-scrollbar {
			width: 5px;
			height: 5px;
	}

	::-webkit-scrollbar-track {
			background: #f1f1f1;
	}

	::-webkit-scrollbar-thumb {
			background: $primaryContrast;
			border-radius: 0px;
	}

	::-webkit-scrollbar-thumb:hover {
			background: theme;
	}
}

body {
	padding: 0;
	margin: 0;
	position: relative;
	background: $primaryColor;
	-webkit-user-select: none; /* Safari */
	-ms-user-select: none; /* IE 10 and IE 11 */
	user-select: none; /* Standard syntax */
	overflow-x: hidden;

	input:focus{
		outline: none;
	}
	&.fixed-position {
		overflow: hidden;
	}
	&.color-background-white {
		background: rgb(240,240,240);
	}
	&.color-background-main {
		background: $primaryColor;
	}
}

p {
	margin:0;
	padding:0;
}

.is-hidden {
	display: none !important;
}

// Temporary fix for non-mobile-friendly tour widget of antd: https://github.com/ant-design/ant-design/issues/40419
.ant-tour {
	max-width: 85%;

	.ant-tour-buttons .ant-btn {
		border-radius: 0px !important;
		line-height: normal;
		padding: 0 0.75rem;

		&.ant-btn-primary {
			color: #FFF;
			background-color: $primaryContrast;
		}

		&.ant-btn-default {
			color: $primaryContrast;
		}
	}
}

#crisp-chatbox a[rel="noopener noreferrer nofollow"] {
	display: none !important;
	opacity: 0;
	visibility: hidden;
}

#crisp-chatbox a[role="button"][data-visible="false"], a[role="button"][data-maximized="false"] {
	display: none !important;
}

.crisp-client[data-visible="false"][data-hide-on-away="false"] {
	background-color: red;
	display: none !important;
}


.Toastify__toast-container--top-center {
	top: 1em;
	width: 95vw;
	left: 2.5vw;
    transform: none;
	@media (min-width: 1200px) {
		width: 50vw;
		left: 25vw;
	}
	.Toastify__toast-icon svg {
		fill: $primaryContrast;
	}
}

.Toastify__progress-bar--info {
	background: $primaryContrast;
}

h1,h2,h3 {
	&.ant-typography {
		color: white;
		line-height: 1;
	}
}